@import url('chillax.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-family: 'Chillax-Regular', Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {

    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.side-photo {
    width: 35vw;
    position: relative;
}

.side-photo img {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsla(79, 100%, 0%, 50%);
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 150px;

    h1 {
        font-size: 4.3rem;
    }
}

img#logo {
    width: 75px;
    height: auto;
}

main {
    width: 65vw;
    height: 75vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: start;
}

.header-desc {
    width: 75ch;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 0 3rem;
}

.header-desc h2:first-child {
    padding-bottom: 2rem;
}

.sign-up {
    padding: 0 3rem;
    width: 100%;

    box-shadow: 0px 5px 5px 5px rgba(128, 128, 128, 0.295);
}

.sign-up h2 {
    padding: 1rem 0 1rem 0;
    font-size: 1.8rem;
}

.account {
    padding: 0 3rem;
}

form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 0 2rem 0;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 275px;

}

.form-container {
    display: flex;
    gap: 5rem;
}

.form-field input {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.2rem 0.6rem;
    letter-spacing: 1px;
    font-weight: 550;
    font-size: 1.1rem;
}

.form-field input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 1px 0px 1px rgba(128, 128, 128, 0.397);
}

.form-field label {
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

input:invalid {
    border: 1px solid red;
}


label, input {
    display: block;
}

input[type="button"] {
    background-color: #596D48;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 3.1rem;
    border-radius: 10px;
    border-style: none;
    margin-top: 1rem;
}

input[type="button"]:active {
    box-shadow: 4px 4px 2px #3c4930;
}

.account p {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 2rem 0;
}

.account p a {
    text-decoration: none;
    color: #596D48;
    font-weight: 900;
}