@import url('chillax.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Chillax-Regular', Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {

    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}