@import url('chillax.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Chillax-Regular', Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {

    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.side-photo {
    width: 35vw;
    position: relative;
}

.side-photo img {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsla(79, 100%, 0%, 50%);
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    h1 {
        font-size: 4.3rem;
    }
}

img#logo {
    width: 75px;
    height: auto;
}

main {
    width: 65vw;
    height: 75vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: start;
}

.header-desc {
    width: 75ch;
    font-weight: 900;
    padding: 0 3rem;
}

.header-desc h2:first-child {
    padding-bottom: 2rem;
}

.sign-up {
    padding: 0 3rem;
    background-color: whitesmoke;
    width: 100%;
}

.account {
    padding: 0 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
